<header>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link {% if homePage %}active{% endif %}">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link {% if loginPage %}active{% endif %}">Login</a></li>
            <li class="nav-item"><a href="{{ url_for('upload_file') }}" class="nav-link {% if uploadFilePage %}active{% endif %}">Upload file</a></li>
            <li class="nav-item"><a href="{{ url_for('register') }}" class="nav-link {% if registerPage %}active{% endif %}">Register</a></li>
            <li class="nav-item"><a href="{{ url_for('show_my_file') }}" class="nav-link {% if showMyFilePage %}active{% endif %}">Show My File</a></li>
            <li class="nav-item"><a href="http://127.0.0.1:8000/api-documentation" class="nav-link {% if showMyFilePage %}active{% endif %}">Documentation</a></li>
        </ul>
    </nav>
    <hr style="clear:both">
</header>