{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h3>{{file.file_name}}</h3><br>
        <a href="{{ request.url_for('view_file', file_path=file.file_path) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Open File</a>
        <hr>
        <h3>Following user have access to this file</h3>
        <br>
        {% for access in accesses %}
            <div class="row">
                <div class="col-sm col-md-auto">
                <article class="media content-section">
                    <div class="media-body">
                    <div class="article-metadata">
                        <a><h6 style="color: #2b2b2bd2;">{{ access }}</h6></a>
                    </div>
                    </div>
                </article>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}